[SlimGreeterTheme]
Greeter=moros.xml
Name=sidux-moros
Description=sidux 2009-04 moros slim Theme
Author=sidux art team
Copyright=GPL
Screenshot=screenshot.png

